#App {
  margin-top: 2rem;
}

ul.no-bullets{
  list-style-type: none;
}

div.btn{
  padding: 1rem;
}

div.pg{
  padding: '.2rem';
}

ul.total-list{
  margin-top: 1.5rem;
  border: solid mediumslateblue;
}

.total-card{
  width: 60vw;
  padding: 1rem;
}

.backArrow{
  cursor: pointer;
}

.backArrow:hover{
  color:mediumslateblue;
}

.overflow-auto{
  width: 30vw;
  height: 20vw;
}

.btn-pg-container{
  margin-left: 15vw;
  display:flex;
  align-items: flex-start;
  margin-top: -35vh;
}
.welcome-pg{
  margin-left: 18vw;
  margin-top: -35vh;
}