#App {
  margin-top: 2rem;
}

ul.no-bullets{
  list-style-type: none;
}

main{
  margin-left: 20vw;
  padding: .2rem;
  margin-top: -40vh;
  
}

.backArrow{
  margin-left: 15vw;
  margin-top: 10vh;
  cursor: pointer;
}

.backArrow:hover{
  color:mediumslateblue;
}

.overflow-auto{
  width: 30vw;
  height: 20vw;
}

.card{
  padding: 1rem;
}